/app/config/parameters.yml
/bin/*
!/bin/console
!/bin/symfony_requirements
!/bin/redb
/composer.phar
/vendor/
/web/bundles/
/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/bower_components
web/css/
web/js/
web/assetic/
