/app/config/parameters.yml
/bin/
/composer.phar
/vendor/
/web/bundles/
/app/bootstrap.php.cache
/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
/bower_components
web/css/
web/js/
web/assetic/
