{% extends 'layout.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
        <li class="active">{{ 'registration'|trans }}</li>
    </ol>

    {{ form(form) }}
{% endblock %}
